<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
   
    <mat-toolbar color="primary">
      <span>DemoLogo</span>
      <span class="example-fill-remaining-space"></span>
    </mat-toolbar>
    
    
    <mat-nav-list>
      <a mat-list-item routerLink="/first-page"  routerLinkActive="active" >First Page</a>
      <a mat-list-item routerLink="/second-page" routerLinkActive="active" >Second Page</a>
      <a mat-list-item routerLink="/third-page"  routerLinkActive="active" >Third Page</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>DemoName</span>
      
      <!-- <span class="fill-remaining-space"></span>
      <button mat-button>Menu Option 01</button>
      <button mat-button>Menu Option 02</button>
      <button mat-button (click)="onLogout()">Logout</button> -->
    </mat-toolbar>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

